<div class="navbar-inner">
  <div id="nav-container" class="container">
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business<b class="caret"></b></a>
          <ul id="Business" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Economics</a></li>
            <li><a href="#">Entrepreneurship</a></li>
            <li><a href="#">Fundamentals</a></li>
            <li><a href="#">Start-Ups</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainment<b class="caret"></b></a>
          <ul id="Entertainment" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Celebrities</a></li>
            <li><a href="#">eSports</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Television</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Humor<b class="caret"></b></a>
          <ul id="Humor" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">NSFW</a></li>
            <li><a href="#">SFW</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Life<b class="caret"></b></a>
          <ul id="Life" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Culture</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Success</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<b class="caret"></b></a>
          <ul id="Men" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Fitness and Health</a></li>
            <li><a href="#">General</a></li>
            <li><a href="#">Romance</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports<b class="caret"></b></a>
          <ul id="Sports" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Basketball</a></li>
            <li><a href="#">Baseball</a></li>
            <li><a href="#">Football</a></li>
            <li><a href="#">Soccer</a></li>
            <li><a href="#">Other</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology<b class="caret"></b></a>
          <ul id="Technology" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Cars</a></li>
            <li><a href="#">GreenTech</a></li>
            <li><a href="#">FutureTech</a></li>
            <li><a href="#">Trending</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<b class="caret"></b></a>
          <ul id="Women" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Fitness and Health</a></li>
            <li><a href="#">General</a></li>
            <li><a href="#">Romance</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">World<b class="caret"></b></a>
          <ul id="World" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">News and Events</a></li>
            <li><a href="#">Travel</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>