<div class="header-welcome row-fluid top-buffer">
  <div class="span4">
    <a class="brand" href="index.html">Voice-Y</a>
    <p class="gray-font">Be the voice of your generation.</p>
  </div>
  <div class="span4 header-image">
    <img src="http://placehold.it/630x70">
  </div>
  <div class="span4">
    <div id="postLogin" class="social-media-btn pull-right">
      <a id="logout" href="#"><img src="http://placehold.it/50x30" id="fbPic"></a>
      <a href="http://localhost/voicey/articlesubmission.html">+Contribute</a>
    </div>
    <div id="loginArea" class="social-media-btn pull-right gray-font">
      Login with 
      <button id="fbLogin" class="btn btn-facebook"><i class="icon-facebook"></i></button>
      <button id="twitterLogin" class="btn btn-twitter"><i class="icon-twitter"></i></button>
    </div>
  </div>
</div>